<form action="{% url 'add_password'%}" method="post">
  {% csrf_token %}
  <label for="name">name:</label><br />
  <input type="text" id="name" name="name" /><br />
  <label for="url">URL:</label><br />
  <input type="text" id="url" name="url" /><br /><br />
  <label for="login">login:</label><br />
  <input type="text" id="login" name="login" /><br /><br />
  <label for="password">password:</label><br />
  <input type="text" id="password" name="password" /><br /><br />
  <input type="submit" value="Submit" />
</form>
