<form action="{% url 'update_password' id=password.id%}" method="post">
  {% csrf_token %}
  <label for="name">name:</label><br />
  <input type="text" id="name" name="name" value="{{ password.name }}" /><br />
  <label for="url">URL:</label><br />
  <input
    type="text"
    id="url"
    name="url"
    value="{{ password.url }}"
  /><br /><br />
  <label for="login">login:</label><br />
  <input
    type="text"
    id="login"
    name="login"
    value="{{ password.login }}"
  /><br /><br />
  <label for="password">password:</label><br />
  <input
    type="text"
    id="password"
    name="password"
    value="{{ password.password }}"
  /><br /><br />
  <input type="submit" value="Submit" />
</form>
